<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WellCheck"
        tools:targetApi="31">

        <activity
            android:name=".Activity.Aboutus"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Activity.Donate"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".Activity.Issue"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Activity.Bmi"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Activity.NaviActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Activity.DoctorAppointmentsActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Activity.EditDoctorProfile"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".seeProfile"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".PartialLogin"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".west"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Activity.DoctorSignupActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Activity.AT"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Activity.MakeAppointmentActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".UploadFiles"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".UpdateProfile"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".TestPage"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Activity.SearchActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Activity.TopDoctorsActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Activity.DetailActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" /> <!-- Main Activity that will start first -->
        <activity
            android:name=".Activity.Abc"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".SignUp"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" /> <!-- This is where you move the MAIN and LAUNCHER intent-filter -->
        <!--
 <activity
             android:name=".Activity.Intro"
             android:exported="true"
             android:label="@string/title_activity_sign_up"
             android:theme="@style/Theme.AppCompat.Light.NoActionBar">


             <intent-filter>
                 <action android:name="android.intent.action.MAIN" />

                 <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>

        </activity>
        -->
        <!--
 Uncomment if needed later for sign-up or login
        <activity
            android:name=".SignUp"
            android:exported="true"
            android:label="@string/title_activity_sign_up"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".Login"
            android:exported="true"
            android:label="WellCheck"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        -->
        <!-- Other activities in your app -->
        <activity
            android:name=".Login"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>
        <activity
            android:name=".dash"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Dashboard"
            android:exported="false" />
        <activity
            android:name=".MainLobby"
            android:exported="false" />
        <activity
            android:name=".Activity.Main"
            android:exported="false" />
    </application>

</manifest>